<section class="about">
    <div class="about__top">
        <div class="about__side">
            <figure class="about__figure">
                <img class="about__img" src="images/staff/image-advantage-1.jpg" alt="image">
                <figcaption class="about__figcaption">01 - Space is Not Limit</figcaption>
            </figure>
            <figure class="about__figure">
                <img class="about__img" src="images/staff/image-advantage-2.jpg" alt="image">
                <figcaption class="about__figcaption">02 - Living With Light</figcaption>
            </figure>
        </div>

        <div class="about__content">
            <h3 class="about__title">
                Get everything you
                need to pick the
                right agent
            </h3>
            <p class="about__text">
                Viverra ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolorum nulla explicabo, facere fuga
                distinctio, aspernatur voluptates consequuntur et harum ducimus veniam esse incidunt recusandae
            </p>
            <a class="about__button-video" data-fancybox href="https://youtu.be/K9AFaFV3oGg" target="blank">
                <span class="about__circle"></span>
                <span class="about__link">Play Quick Video</span>
            </a>
        </div>
    </div>
    <div class="about__investing">
        <h3 class="about__investing-title">We make real estate
            investing Easy<span>.</span> </h3>
        <div class="about__investing-text">Viverra ipsum dolor, sit amet consectetur adipisicing elit. Beatae
            dolorum nulla explicabo, facere fuga distinctio, aspernatur</div>
        <div class="about__investing-button">
            <a class="about__investing-link" href="#">Get started</a>
        </div>
    </div>
    <div class="about__gallery">
        <div class="about__gallery-inner">
            <div class="about__gallery-top">
                <figure class="about__gallery-figure">
                    <div class="about__gallery-caption about__gallery-caption_left">
                        <figcaption class="about__gallery-title">Super Space Luxary
                            Bedroom.</figcaption>
                        <div class="about__gallery-btn">
                            <a class="about__gallery-link" href="#">View more</a>
                        </div>
                    </div>
                    <img class="about__gallery-img about__gallery-img_left" src="images/staff/image-gallery-1.jpg"
                        alt="image">
                </figure>
                <figure class="about__gallery-figure">
                    <img class="about__gallery-img about__gallery-img_right" src="images/staff/image-gallery-2.jpg"
                        alt="image">
                    <div class="about__gallery-caption about__gallery-caption_right">
                        <figcaption class="about__gallery-title">Super Space Luxary
                            Kitchen.</figcaption>
                        <div class="about__gallery-btn">
                            <a class="about__gallery-link" href="#">View more</a>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="about__gallery-bottom">

                <figure class="about__gallery-figure_bottom">
                    <div class="about__gallery-figurebox">
                        <a class="about__gallery-insta" href="#">#instagram</a>
                        <img class="about__gallery-img_bottom" src="images/staff/image-gallery-3.jpg" alt="image">
                    </div>
                    <div class="about__gallery-caption about__gallery-caption_bottom">
                        <figcaption class="about__gallery-title">Wellness and Relax Places.</figcaption>
                        <p class="about__gallery-text">
                            Viverra ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolorum nulla
                            explicabo,
                            facere fuga
                        </p>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>