<footer class="footer">
    <div class="footer__inner">
        <div class="footer__intro">
            <div class="footer__intro-leftside">
                <div class="footer__subtitle">Newsletter</div>
                <h3 class="footer__intro-title">Don't see the city you were looking
                    for? Help us out by suggesting!</h3>
            </div>
            <form class="footer__intro-form">
                <input class="footer__input" type="text" placeholder="Your E-mail Address">
            </form>
        </div>
        <div class="footer__content">
            <div class="footer__items">
                <nav class="footer__item-menu">
                    <h4 class="footer__title">Links</h4>
                    <ul class="footer__list-links">
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">Home</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">best Places</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">destinations</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">travel tips</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">travel resources</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__item-menu">
                    <h4 class="footer__title">Social</h4>
                    <ul class="footer__list-social">
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">Facebook</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">Twitter</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">G-mail</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">Skype</a>
                        </li>
                        <li class="footer__item-list">
                            <a class="footer__item-link" href="#">Pinterest</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer__soc-menu">
                    <h4 class="footer__title">Contact</h4>
                    <ul class="footer__soc-list">
                        <li class="footer__soc-item footer__soc-item_phone">
                            <a class="footer__soc-link" href="tel:+0123-456-789">0123-456-789</a>
                        </li>
                        <li class="footer__soc-item footer__soc-item_email">
                            <a class="footer__soc-link" href="mailto:findeo@gmail.com">findeo@gmail.com</a>
                        </li>
                        <li class="footer__soc-item footer__soc-item_address">
                            <a class="footer__soc-link" href="#">774 ne St Miami, fl 33879</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__rightside">
                <img class="footer__logo" src="images/footer-logo.svg"></img>
                <div class="footer__rightside-text">Viverra nam sem amet massa aliquot vici adipisicing
                    Iaoreet ut. Quis aliquam aliquet amet. Ante ut etiam
                    quam. Maecenas phasellus felis dapibus ultricies
                    pretium ut tellus fringila.</div>
            </div>
        </div>
        <div class="footer__copy">
            © Copyright 2017 TravelBlog Design by Zisan
        </div>

    </div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="jquery.fancybox.pack.js"></script>
<script src="common.js"></script>
</body>

</html>