<section class="featured">
    <div class="featured__inner">
        <div class="featured__content">
            <h3 class="featured__title">Featured Property<span>.</span></h3>
            <div class="featured__text">Viverra ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolorum nulla
                explicabo, facere fuga distinctio, aspernatur voluptates consequuntur et harum ducimus veniam esse
                incidunt recusandae </div>
            <div class="featured__links">
                <a class="featured__link" href="#">Washington (90)</a>
                <a class="featured__link" href="#">Springfield (57)</a>
                <a class="featured__link" href="#">Bristol (39)</a>
                <a class="featured__link" href="#">Clinton (64)</a>
                <a class="featured__link" href="#">Georgetown (64)</a>
                <a class="featured__link" href="#">Franklin (75)</a>
            </div>
            <a class="featured__button" href="#">View all property</a>
        </div>
        <div class="featured__side">
            <div class="featured__items">
                <div class="featured__item">
                    <img class="featured__item-img" src="images/staff/image-featured-1.jpg"></img>
                    <div class="featured__item-content">
                        <div class="featured__name">Flamingo Apartment</div>
                        <div class="featured__descr">
                            <div class="featured__descr-row">
                                <span class="featured__descr-squaring">540 Sq m </span> /
                                <span class="featured__descr-num"> 3 Bedroom</span>
                            </div>
                            <div class="featured__descr-row">
                                <span class="featured__descr-num">2 Barth</span> /
                                <span class="featured__descr-num">1 Garage</span>
                            </div>
                        </div>
                        <div class="featured__price">
                            <span class="featured__price-name">Price:</span>
                            <span class="featured__price-number">$550,000</span>
                        </div>
                    </div>
                </div>
                <div class="featured__item">
                    <img class="featured__item-img" src="images/staff/image-featured-2.jpg"></img>
                    <div class="featured__item-content">
                        <div class="featured__name">Selway Apartments</div>
                        <div class="featured__descr">
                            <div class="featured__descr-row">
                                <span class="featured__descr-squaring">540 Sq m </span> /
                                <span class="featured__descr-num"> 3 Bedroom</span>
                            </div>
                            <div class="featured__descr-row">
                                <span class="featured__descr-num">2 Barth</span> /
                                <span class="featured__descr-num">1 Garage</span>
                            </div>
                        </div>
                        <div class="featured__price">
                            <span class="featured__price-name">Price:</span>
                            <span class="featured__price-number">$670,000</span>
                        </div>
                    </div>
                </div>
                <div class="featured__item">
                    <img class="featured__item-img" src="images/staff/image-featured-3.jpg"></img>
                    <div class="featured__item-content">
                        <div class="featured__name">Eagle Apartment</div>
                        <div class="featured__descr">
                            <div class="featured__descr-row">
                                <span class="featured__descr-squaring">540 Sq m </span> /
                                <span class="featured__descr-num"> 3 Bedroom</span>
                            </div>
                            <div class="featured__descr-row">
                                <span class="featured__descr-num">2 Barth</span> /
                                <span class="featured__descr-num">1 Garage</span>
                            </div>
                        </div>
                        <div class="featured__price">
                            <span class="featured__price-name">Price:</span>
                            <span class="featured__price-number">$460,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>