<section class="sliders">
    <div class="sliders__inner">
        <h3 class="sliders__title">Build Advanced Sliders
            With A Myriad Of Options
            For Style And Effects.</h3>
        <div class="sliders__items">
            <div class="sliders__item-images">
                <div class="sliders__item sliders__item_center">
                    <img class="sliders__item-img" src="images/staff/image-sliders-1.jpg">
                </div>
                <div class="sliders__item">
                    <img class="sliders__item-img" src="images/staff/image-sliders-2.jpg" alt="image">
                </div>
            </div>
            <div class="sliders__item-right">
                <div class="sliders__item-content">
                    <div class="sliders__item-text">Viverra nam sem amet massa aliquot vici adipisicing
                        Iaoreet ut. Quis aliquam aliquet amet. Ante ut etiam
                        quam. Maecenas phasellus felis dapibus ultricies
                        pretium ut tellus fringila.</div>
                    <a class="sliders__item-button" href="#">read more</a>
                </div>
                <div class="sliders__item-rightimg">
                    <img class="sliders__item-img" src="images/staff/image-sliders-3.jpg" alt="image">
                </div>
            </div>

        </div>
</section>