<section class="welcome">
    <div class="welcome__inner">
        <div class="welcome__subtitle">
            Welcome To Findeo
        </div>
        <h2 class="welcome__title">
            Find The Latest Homes For Sale,
            Property News & Real Estate
            Market Data<span>.</span>
        </h2>
        <div class="welcome__content">
            <ul class="welcome__list">
                <li class="welcome__item welcome__item-buying">Home Buying</li>
                <li class="welcome__item welcome__item-renting">Home Renting</li>
                <li class="welcome__item welcome__item-selling">Home Selling</li>
            </ul>
            <div class="welcome__info">
                <p class="welcome__text">Viverra ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolorum
                    nulla
                    explicabo, facere fuga distinctio, aspernatur voluptates consequuntur et harum ducimus veniam esse
                    incidunt recusandae asperiores iusto corporis totam mollitia quaerat sed eveniet aperiam tempora!
                    Nulla
                    excepturi illum repellat possimus animi facilis magnam</p>
                <p class="welcome__text">Viverra ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolorum
                    nulla
                    explicabo, facere fuga distinctio, aspernatur voluptates consequuntur et harum ducimus veniam esse
                    incidunt recusandae asperiores iusto corporis totam mollitia quaerat sed eveniet aperiam te</p>
            </div>
        </div>
    </div>
</section>